body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
}
.container-fluid.nav-bar{
    padding-right: 0px;
    padding-left: 0px;
    background-image:linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.5) 100%), url(bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
    
}
.navbar navbar-expand-lg navbar-light fixed-top py-3{
    box-shadow: none;
    background-color: transparent;
}
.collapse.navbar-collapse>ul> li > a{
    color: white !important;
}
.navbar-brand{
    color: white !important;
}
.row.first{
    margin-left: 0px;
    margin-right: 0px;
}
#time{
    color: white;
}

