body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
    scroll-behavior: smooth;
      
}
.container-fluid.nav-bar{
    
    padding-right: 0px;
    padding-left: 0px;
    background-image:linear-gradient(to bottom, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100%), url(bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
    
}

.row.first{
    margin-left: 0px;
    margin-right: 0px;
}
#time{
    color: white;
}
.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3{
    padding: 0 10px 0 10px;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
}
.my-4{
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
}
.clickme{
    background-color: green;
}
#about{
    background-color: #f4623a !important;
    padding: 8rem 0;
}
#hr2{
    border-color: #fff !important;
}
#btn3{
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}
.page-section{
    padding: 8rem 0;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}


.asddas{
    color:red;
    text-align: center;
}


.email{
    color: #f4623a;
    text-decoration: none;
    background-color: transparent;
}


.aaa{
    display: none;
    background:white;
    position: absolute;

}

.card-body:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

